h4.merry_christmas{
    font-family: 'Mountains of Christmas', cursive;
    color: #b01c29;
}
h5.merry_christmas{
    font-family: 'Mountains of Christmas', cursive;
    color: #b01c29;
}

h4.christmas_trees{
    font-family: 'Dancing Script', cursive;
    color: #323F4A;
}

h5.christmas_trees{
    font-family: 'Dancing Script', cursive;
    color: #323F4A;
}